*{
  margin: 0;
  font-family: 'Lobster', cursive;
  font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.header {
  background-image: url(../images/banner/banner1.png);
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}

.banner-text {
  text-align: right;
  padding: 270px 150px 80px 450px;
}

.banner-title {
  color: #151414;
  font-weight: 700;
  font-size: 85px;
  line-height: 100px;
  margin-bottom: 30px;
}

.banner-sub {
  color: #444343;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 30px;
}

.btn-primary {
  background: #F15B22;
  border-radius: 5px;
  width: auto;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  padding: 16px;
}

/* Achievement & Failure Section Styles */

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 100px 200px;
}

.sec-title {
  color: #151414;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 30px;
}

.sec-sub {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

.bullets {
  color: #444343;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* My Plan Styles */

.my-plans {
  text-align: center;
}

.my-plans .sec-title {
  margin-bottom: 50px;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-bottom: 80px;
}

.plan-title {
  color: #151414;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}

.plan-sub {
  color: #737272;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

.fa-check{
  color: #16d886
}

/* Call Now Section Styles */

.call-now {
  background: url(../images/gradient2.png), url(../images/watch.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 60%;
  margin: 80px auto 120px;
}

.call-now-items {
  padding: 50px;
}

.call-now .call-now-items .sec-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 30px;
}

.btn-secondary{
  background: #FFFFFF;
  border-radius: 5px;
  width: auto;
  border: none;
  color: #F15B22;
  font-weight: 600;
  font-size: 20px;
  padding: 16px;
}

/* Footer Styles */

.footer-items {
  background-color: #151414;
  height: 450px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 350px;

}

 .info-title {
  color: #F8F8F8;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 16px;
  margin-top: 80px;
 }

 .info-sub {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
 }

 .email{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
 }

 .phone {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
 }

.social{
  display: flex;
  gap: 15px;
}

.subscribe .sec-title {
  color:#FFFFFF;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 16px;
  margin-top: 80px;
}

input[type=email] {
  background-color: #151414;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  width: 300px;
  height: 53px;
  outline: none;
  padding-left: 15px;
  margin-bottom: 20px;
}

